<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/Site.css" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
</head>
<body>
    @Html.Partial("TopPartial")
    @RenderBody()
    @Html.Partial("FooterPartial")
</body>
</html>